{#
<?php
$path = "http://".$_SERVER['HTTP_HOST'];
$str = file_get_contents($path.'/config.json');
$config = json_decode($str, true);
$current = false;
$index_current = -1;
for($i=0;$i<sizeof($config['element']);$i++)  {
  $entry = $config['element'][$i];
  if (strpos($_SERVER["PHP_SELF"],$entry['url']) !== false) {
    $current = $entry;
    $index_current = $i;
  }
}
?>
#}
{% block top_header %}

  <style type="text/css">
    .block {
      /*min-height: 100px;*/
      padding-top: 15px;
        padding-bottom: 15px;
    }
  </style>
<div class="navbar navbar-info navbar-fixed-top shadow-z-1">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ config_data['hostname_port'] }}"><i class="mdi-action-home"></i> GoGo {#<?php //if($current){ echo " | ".$current['label']; } ?>#}</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">

      {% for entry in config_data['element'] %}


        <li {% if entry['url'] in config_data['url'] %}class="active"{% end %} >
          <a href="{{ config_data['hostname'] }}{{ entry['url'] }}"><i class="{{ entry['icon'] }} hidden-md hidden-sm"></i>{{ entry['label'] }}</a>
        </li>
      {% end %}
    </ul>
  </div>
</div>
<div class="visible-lg" style="height:80px;"></div>
<div class="hidden-lg" style="height:70px;"></div>
{% end %}