<!DOCTYPE html>
<html>
<!-- MEMO: update me with `git checkout gh-pages && git merge master && git push origin gh-pages` -->
<head>
  <meta charset="utf-8">
  <title>GoGo | Setting</title>
  <link href="bootstrap-material-design/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bootstrap-material-design/dist/css/material-fullpalette.min.css" rel="stylesheet">
  <link href="bootstrap-material-design/dist/snackbar.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Marutpong Chailangka">
</head>
<body>
{% module Template(config_data['header_path'], config_data=config_data, arguments=arguments) %}
  <div class="container">
    <form class="form-horizontal" name="setting-pushbullet" action="save_setting.php" method="POST">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Cloud Services Setting</h3>
      </div>
      <div class="panel-body">
        <br>
        <div id="notification"></div>
          <fieldset>
            <legend class="text-success">Data Logging</legend>
            <div class="form-group">
              <label for="input_clouddata_key" class="col-md-2 control-label">Cloud API Key</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="input_clouddata_key" name="input_clouddata_key" placeholder="API Key" minlength="16" maxlength="16">
              </div>
            </div>
            <div class="form-group">
              <label for="checkbox_enable_log_file" class="col-md-2 control-label">Enable logging to </label>
              <div class="col-md-10">
                <div class="togglebutton" style="vertical-align:middle;">
                    <label>
                        <input type="checkbox" name="checkbox_enable_log_file"{% if config_data['settings']['enable_log_file'] %} checked="checked" {% end %} >   <span class="toggle"></span> File
                    </label>
                    <input type="hidden" name="input_enable_log_file" value="">
                    <label>
                        <input type="checkbox" name="checkbox_enable_log_cloud"{% if config_data['settings']['enable_log_cloud'] %} checked="checked" {% end %} >   <span class="toggle"></span> Cloud
                    </label>
                    <input type="hidden" name="input_enable_log_cloud" value="">
                </div>
              </div>
            </div>

            <legend class="text-success">IFTTT</legend>
            <div class="form-group">
              <label for="input_ifttt_key" class="col-md-2 control-label">Maker Channel Key</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="input_ifttt_key" name="input_ifttt_key" placeholder="Maker Channel Key">
              </div>
            </div>
            <div class="form-group">
              <label for="input_ifttt_key" class="col-md-2 control-label"></label>
              <div class="col-md-10">
                <p class="text-muted">IFTTT Maker Channel Key (Maker Webhooks) is at <a href="https://ifttt.com/services/maker_webhooks/settings" target="_blank">https://ifttt.com/services/maker_webhooks/settings</a>, Look at "URL:" (after "https://maker.ifttt.com/use/")</p>
              </div>
            </div>

            <legend class="text-success">Pushbullet</legend>
            <div class="form-group">
              <label for="input_pushbullet_token" class="col-md-2 control-label">Token</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="input_pushbullet_token" name="input_pushbullet_token" placeholder="Push Bullet Token" minlength="34" maxlength="34">
              </div>
            </div>
            <div class="form-group">
              <label for="input_pushbullet_token" class="col-md-2 control-label"></label>
              <div class="col-md-10">
                <p class="text-muted">Pushbullet Access Token is at <a href="https://www.pushbullet.com/account" target="_blank">https://www.pushbullet.com/account</a> on section <b>Access Token</b>, Click the button "Create Access Token"</p>
              </div>
            </div>

            <legend class="text-success">Gmail</legend>
            <div class="form-group">
              <label for="input_gmail_username" class="col-md-2 control-label">Gmail Username</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="input_gmail_username" name="input_gmail_username" placeholder="Gmail Username">
              </div>
            </div>
            <div class="form-group">
              <label for="input_gmail_password" class="col-md-2 control-label">Gmail Password</label>
              <div class="col-md-10">
                <input type="password" class="form-control" id="input_gmail_password" name="input_gmail_password" placeholder="Gmail Password" >
              </div>
            </div>

            <legend class="text-success">Telegram Bot</legend>
            <div class="form-group">
              <label for="input_telegram_bot_token" class="col-md-2 control-label">Telegram Bot Token</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="input_telegram_bot_token" name="input_telegram_bot_token" placeholder="Telegram Bot Token">
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-10 col-lg-offset-2">
              <input type="hidden" name="raspberry-pi" value="save">
              <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </fieldset>

        <span id="toast-success" class="btn btn-material-deeppurple hidden" onclick="javascript:$.snackbar({content: 'Saved Confiuration.'});">Create and show a snackbar.</span>
        <span id="toast-error" class="btn btn-material-deeppurple hidden" onclick="javascript:$.snackbar({content: 'Saving configuration error.'});">Create and show a snackbar.</span>

      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Setting</h3>
      </div>
      <div class="panel-body">
        <br>
        <legend class="text-success">Wifi Configuration</legend>
        <div class="form-group">
          <label for="input_wifi_ssid" class="col-md-2 control-label">Wifi SSID</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="input_wifi_ssid" name="input_wifi_ssid" placeholder="Wifi SSID">
          </div>
        </div>
        <div class="form-group">
          <label for="input_wifi_password" class="col-md-2 control-label">Wifi Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="input_wifi_password" name="input_wifi_password" placeholder="Wifi Password" >
          </div>
        </div>
        <div class="form-group">
          <label for="checkbox_autoconnect_wifi" class="col-md-2 control-label">Auto Connect</label>
          <div class="col-md-10">
            <div class="togglebutton" style="vertical-align:middle;">
                <label>
                    <input type="checkbox" name="checkbox_autoconnect_wifi"{% if config_data['settings']['autoconnect_wifi'] == True %} checked="checked" {% end %} >   <span class="toggle"></span>
                </label>
            </div>
          </div>
          <input type="hidden" name="input_autoconnect_wifi" value="">
        </div>

        <legend class="text-success">Pi Display</legend>
        <div class="form-group">
          <label for="input_display_speak_voice" class="col-md-2 control-label">Voice</label>
          <div class="col-md-10">
            <select class="form-control" id="input_display_speak_voice" name="input_display_speak_voice">

            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="input_display_speak_pitch" class="col-md-4 control-label">Pitch (range 0 to 2)</label>
              <div class="col-md-8">
                <input type="number" min="0" max="2" step="0.1" class="form-control" id="input_display_speak_pitch" name="input_display_speak_pitch" placeholder="Pitch" value="{{ config_data['settings']['display_speak_pitch'] or 1 }}" >
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="input_display_speak_rate" class="col-md-4 control-label">Rate (range 0 to 2)</label>
              <div class="col-md-8">
                <input type="number" min="0" max="2" step="0.1" class="form-control" id="input_display_speak_rate" name="input_display_speak_rate" placeholder="Rate" value="{{ config_data['settings']['display_speak_rate'] or 1 }}" >
              </div>
            </div>
          </div>

        </div>


        <div class="form-group">
          <div class="col-md-10 col-lg-offset-2">
          <input type="hidden" name="raspberry-pi" value="save">
          <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>
    </form>

  </div>
  <!-- Preloader -->
  <script src="bootstrap-material-design/dist/jquery-1.11.min.js"></script>
  <script src="bootstrap-material-design/dist/js/bootstrap.min.js"></script>
  <script src="bootstrap-material-design/dist/js/material.min.js"></script>
  <script src="bootstrap-material-design/dist/snackbar.min.js"></script>
  <script src="/www/dist/js/responsivevoice.js"></script>
  <script type="text/javascript">
    var voicelist = responsiveVoice.getVoices();


    var config = {
      display_speak_voice : '{{config_data['settings']['display_speak_voice'] or "US English Female" }}'
    }
    for (var index in voicelist){
      console.log(voicelist[index]);
      var name = voicelist[index]['name'];
      var option = $('<option value="'+name+'">'+name+'</option>');
      if (config.display_speak_voice == name){
         option.attr('selected','selected');
      }
      $('#input_display_speak_voice').append(option);
    }
    $("form").on("submit",function(event){
      event.preventDefault();
      //$.post("save_setting.php",$(this).serialize())
      $('[name=input_autoconnect_wifi]').val( $('[name=checkbox_autoconnect_wifi]').prop( "checked" ) );
      $('[name=input_enable_log_file]').val( $('[name=checkbox_enable_log_file]').prop( "checked" ) );
      $('[name=input_enable_log_cloud]').val( $('[name=checkbox_enable_log_cloud]').prop( "checked" ) );
      $.post( "/api/config", $(this).serialize())
        .done(function(data) {
          console.log(data);
          //var data = JSON.parse(data);
          if (data.result == true){
            $("#toast-success").click();
          } else {
            console.log(data);
            $("#toast-error").click();
          }
        })
        .fail(function() {
          $("#toast-error").click();
        });
    });
  </script>
</body>
</html>
